header{
    margin: 0px;
    padding: 0px;
    position: fixed;
    background-color: black;
    top: 0px; 
    right:0;
    width: 100%;
}
#menubar{
   
    color: white;
    float: left;
    padding: 10px;
    text-decoration: none;
    
}
#menubar2{
    color: white;
    float: right;
    padding: 10px;
    

}
div{
    border: 2px solid palevioletred;
    display: inline-block;
    border-radius: 1em;
    padding: 0.5em;
}
button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
